@import "../../../stylesheets/settings/colors";
@import "../../../stylesheets/tools/functions";

$orange: #f5ab34;
$blue: #30afe4;
$green: #80cdbe;
$red: #f58f8f;

.report-statistic-box {
    float: left;
    width: 25%;
    height: 275px;
    background-color: c($c-white, 100);
    border-right: 2px solid c($c-white, 500);
    text-align: center;

    .box-header {
        background-color: c($c-white, 300);
        font-weight: 600;
        font-size: 15px;
        height: 60px;
        padding-top: 20px;

        span {
            display: inline-block;
            width: 25px;
            height: 25px;
            vertical-align: middle;
        }

        .icon-sent {
            background: url(../../../examples/report/images/icon_sent.svg);
        }

        .icon-delivery {
            background: url(../../../examples/report/images/icon_delivery.svg);
        }

        .icon-openrate {
            background: url(../../../examples/report/images/icon_openrate.svg);
        }

        .icon-ctor {
            background: url(../../../examples/report/images/icon_ctor.svg);
        }
    }

    .box-content {
        position: relative;
        margin: 20px auto 15px;
        width: 130px;
        height: 130px;

        .sentTotal {
            font-size: 46px;
            font-weight: 400;
            color: $green;
            padding-top: 32px;
        }

        .percentage {
            position: absolute;
            font-size: 28px;
            top: 34%;
            left: 31%;
        }

    }

    .delivery-rate {
        color: $orange;
    }
    .open-rate {
        color: $blue;
    }
    .click-to-open {
        color: $green;
    }

    .box-foot {
        position: relative;
        font-size: 13px;
        font-weight: 600;
        padding: 0 20px;

        .box-foot-stats {
            font-size: 15px;
        }

        .box-foot-left {
            float: left;
            text-align: left;
        }

        .box-foot-right {
            float: right;
            text-align: right;
        }

        .arrow {
            display: none;
            position: absolute;
            width: 15px;
            height: 15px;
        }

        .arrow-up {
            top: 10px;
            left: 30%;
            background: url(../../../examples/report/images/icon_arrow_up.svg);
        }

        .arrow-down {
            top: 10px;
            right: 30%;
            background: url(../../../examples/report/images/icon_arrow_down.svg);
        }

    }
}

@media (max-width: 1024px) {
    .report-statistic-box {
        width: 50%;
    }
}