@import "../../stylesheets/settings/colors";
@import "../../stylesheets/tools/functions";
@import "../../stylesheets/tools/mixins";

$select-width: 220px;
$select-height: 40px;


// select {
//     opacity: 0;

//     &.is-visible {
//         opacity: 1;
//     }
// }

.select {
    color: c($c-black, 400);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: $select-height;
    position: relative;
    width: $select-width;
}




    .select-hidden {
        display: block;
        @include position(absolute, top 0 left 0 bottom 0 right 0);
        width: 100%;

        /* appearance: none prevents browsers from applying it's own styling */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:focus, &:active {
            outline: none;
        }
    }




    .select-styled {
        position: absolute;
        @include position(absolute, top 0 left 0 bottom 0 right 0);
        background-color: c($c-white, 200);
        padding: 8px 15px;
        transition: all 50ms ease-in;

        &:after {
            content:"";
            width: 0;
            height: 0;
            border: 7px solid transparent;
            border-color: c($c-black, 400) transparent transparent transparent;
            position: absolute;
            top: 16px;
            right: 10px;
        }

        &:hover, &:focus, &.has-focus {
            background-color: c($c-blue, 500);
            color: c($c-white, 400);

            &:after {
                border-color: c($c-white, 400) transparent transparent transparent;
            }
        }


        &:active, &.active {
            background-color: c($c-blue, 500);
            color: c($c-white, 400);

            &:after {
              border-color: transparent transparent c($c-white, 400) transparent;
              top: 9px;
            }
        }
    }




    .select-options {
        background-color: c($c-white, 200);
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        z-index: 999;

        li {
            margin: 0;
            padding: 12px 0;
            text-indent: 15px;
            transition: all 50ms ease-in;

            &:hover, &.has-focus {
                background: c($c-blue, 500);
                color: c($c-white, 400);
            }

            &[rel="hide"] {
                display: none;
            }
        }
    }