/* PRIMARY COLORS */
$c-black: (
    100: #d0d1d2,
    200: #a1a3a5,
    300: #737677,
    400: #44484a,
    main: #161a1d,
    500: #111517,
    600: #0d1011,
    700: #080a0c,
    800: #000
);

$c-orange: (
    100: #fdedcc,
    200: #fcdb99,
    300: #faca66,
    400: #f9b833,
    main: #f7a600,
    500: #c68500,
    600: #946400,
    700: #634200,
    800: #312100
);

$c-white: (
    100: #fafafa,
    200: #f4f4f4,
    300: #f2f2f2,
    400: #efefef,
    main: #fff,
    500: #ececec,
    600: #d4d4d4,
    700: #a4a4a4,
    800: #818181
);


/* SECONDARY COLORS */
$c-green: (
    100: #edf5d7,
    200: #dbebb0,
    300: #c8e188,
    400: #b6d761,
    main: #a5cd39,
    500: #83a42e,
    600: #627b22,
    700: #425217,
    800: #21290b
);


$c-blue: (
    100: #ccecf9,
    200: #99d9f3,
    300: #66c5ee,
    400: #33b2e8,
    main: #009fe3,
    500: #007fb5,
    600: #005f88,
    700: #00405a,
    800: #00202d
);


/* COMPLEMENTARY COLORS */
$c-red: (
    100: #f8d0d0,
    200: #f3a1a1,
    300: #ec7373,
    400: #e74545,
    main: #e21717,
    500: #b41212,
    600: #860d0d,
    700: #5a0808,
    800: #2c0404
);

$c-pink: (
    100: #fad2df,
    200: #f6a4c0,
    300: #f178a0,
    400: #ec4a81,
    main: #e91e63,
    500: #b9174e,
    600: #8b123a,
    700: #5d0b27,
    800: #2e0613
);

$c-purple: (
    100: #e0d3e8,
    200: #c4a9d2,
    300: #a67eba,
    400: #8853a4,
    main: #6b298e,
    500: #552071,
    600: #401854,
    700: #2b1039
);

$c-yellow: (
    100: #fdfad6,
    200: #fdf7af,
    300: #fcf187,
    400: #fced60,
    main: #fdea39,
    500: #c9ba2d,
    600: #968b21,
    700: #645e16,
    800: #312e0a
);

$c-teal: (
    100: #d3e8df,
    200: #aad1c0,
    300: #7eb89f,
    400: #54a181,
    main: #2a8c62,
    500: #216e4e,
    600: #185239,
    700: #113827,
    800: #071c13
);

/* For text with an alpha value, this list is used */
$c-alpha: .85, .54, .26, .12;


/* WAITING TO BE UPDATED */
$c-purples: #532e62, #8e44ad, #9b59b6;
$c-purple: nth($c-purples, 2);


/* BRAND COLORS */
$c-facebook: #3b5999;
$c-linkedin: #0077b5;
$c-yahoo: #4200af;
$c-bing: #ffb903;
