<div class="TimeLine-container">
    <div class="TimeLine-listContainer">
        <ul class="TimeLine-itemlist">
            <li ng-repeat="date in timeline.data">
                <div class="icons">
                    <span
                        ng-repeat="event in date.events"
                        class="TimeLine-badge icon-{{event.type}}"
                        apsis-tooltip="<strong>{{event.type}}</strong>, {{event.number}}"
                    >
                        <img src="/modules/timeline/images/icon-{{event.type}}.svg" class="TimeLine-icon"><span class="amount">{{event.number}}</span>
                    </span>
                </div>
                <div class="date">
                    <span class="pipe"></span>
                    <time datetime="{{date}}">{{date.date}}</time>
                </div>
            </li>
        </ul>
    </div>
    <div class="TimeLine-legends">
        <div class="TimeLine-legend">
            <span class="invitation"></span>Invitation
        </div>
        <div class="TimeLine-legend">
            <span class="reminder"></span>Reminder
        </div>
        <div class="TimeLine-legend">
            <span class="event"></span>Event
        </div>
        <div class="TimeLine-legend">
            <span class="followup"></span>Follow up
        </div>
    </div>
    <div class="TimeLine-arrow left"></div>
    <div class="TimeLine-arrow right"></div>
</div>