/**
 * Animation keyframes for various use cases. Use directly in your atoms /
 * molecules or, which should be preferred, via the keyfram mixin.
 */

 /*------------------------------------*\
     # KEYFRAMES
 \*------------------------------------*/
@keyframes wiggle {
    0% {  @include transform(skewX(0deg)); }
    10% { @include transform(skewX(-8deg)); }
    20% { @include transform(skewX(7deg)); }
    30% { @include transform(skewX(-6deg)); }
    40% { @include transform(skewX(5deg)); }
    50% { @include transform(skewX(-4deg)); }
    60% { @include transform(skewX(3deg)); }
    70% { @include transform(skewX(-2deg)); }
    80% { @include transform(skewX(1deg)); }
    90% { @include transform(skewX(0deg)); }
    100% { @include transform(skewX(0deg)); }
}

@keyframes tada {
    0% {
        @include transform(scale(1));
    }
    10%, 20% {
        @include transform(scale(0.9) rotate(-15deg));
    }
    30%, 50%, 70%, 90% {
        @include transform(scale(1.1) rotate(15deg));
    }
    40%, 60%, 80% {
        @include transform(scale(1.1) rotate(-15deg));
    }
    100% {
        @include transform(scale(1) rotate(0));
    }
}


/*------------------------------------*\
    # NAMED ANIMATIONS
\*------------------------------------*/
.anim-tada {
    &:hover {
        animation-duration: 0.5s;
        animation-name: tada;
    }
}

.anim-error {
    animation-duration: 0.1s;
    animation-name: wiggle;
}