// +++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Takes any given value and returns it withour its unit.
//
// EXAMPLE
//
// 10px => 10
// 4rem => 4
//
// AUTHOR HPE
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}



// +++++++++++++++++++++++++++++++++++++++++++++++++++++++
// RGBALPHA
//
// Takes a color and an alpha percentage and returns the closest possible non-rgba
// match to what the rgba-color would look like, alas without the transparency.
//
// $color can be any color - hex, hsl or rgb
// $percentage should be a value between 0 and 1 (0-100)
//
// AUTHOR HPE
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++

@function rgbalpha($color, $percentage) {
    @return lighten($color, (1 - $percentage)*5%);
}



// +++++++++++++++++++++++++++++++++++++++++++++++++++++++
// C
//
// A shorthand / convenience method for accesseing colors on the predefined scale.
// Simply makes a map-get and returns the result.
//
// AUTHOR HPE
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++
@function c($color, $weight) {
    @return map-get($color, $weight);
}




@function opposite-position($positions) {
    $newPositions: '';

    $opposite: (
        top: bottom,
        bottom: top,
        left: right,
        right: left,
        center: center
    );

    @each $pos in $positions {
        $newPositions: $newPositions + map-get($opposite, $pos) + ' ';
    }

    @return $newPositions;
}