@import "../../../stylesheets/tools/functions";

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++
// POSITION
//
// Creates a handy shorthand for position properties. As with for example margin
// it is possible to set the position with 1, 2, 3 or 4 variables.
//
// ARGUMENTS
// $t: position top
// $l: position left
// $b: position bottom
// $l: position right
//
// EXAMPLES
// @include position(10px)
//  top: 10px;
//  left: 10px;
//  bottom: 10px;
//  right: 10px;
//
// @include position(10px, 11px);
//  top: 10px;
//  left: 11px;
//  bottom: 10px;
//  right: 10px;
//
// ©include position(10px, 11px, 12px);
//  top: 10px;
//  left: 11px;
//  bottom: 12px;
//  right: 11px;
//
// @include position(10px, 11px, 12px, 13px);
//  top: 10px;
//  left: 11px;
//  bottom: 12px;
//  right: 13px;
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++

// @mixin position($t, $l: 0, $b: 0, $r: 0) {
//     $top: $t; $left: $l; $bottom: $b; $right: $r;

//     @if $left == 0 and $bottom == 0 and $right == 0 {
//         $left: $t;
//         $bottom: $t;
//         $right: $t;
//     } @else if $left != 0 and $bottom == 0 and $right == 0 {
//         $bottom: $t;
//         $right: $l;
//     } @else if $left != 0 and $bottom != 0 and $right == 0 {
//         $right: $l;
//     }

//     top: $top;
//     left: $left;
//     bottom: $bottom;
//     right: $right;
// }



// +++++++++++++++++++++++++++++++++++++++++++++++++++++++
// REMS
//
// Takes a property and 1-n values and returns the values in pixels as well as
// rems. Browsers that support rems will use that value, legacy browsers will
// fall back to the pixel value.
//
// ARGUMENTS
// $property: a valid css property
// $values: a list of values, given in pixels
//
// DEPENDENCIES
// @function strip-unit()
//
// EXAMPLE (given that 1px is the base font size)
// @include rems(margin, 32px 16px):
//
// margin: 32px 16px;
// margin: 2rem 1rem;
//
// AUTHOR HPE
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin rems($property, $values...) {
    $max: length($values);
    $pxValues: '';
    $remValues: '';

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $pxValues: #{$pxValues + $value}px;

        @if $i < $max {
            $pxValues: #{$pxValues + " "};
        }
    }

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $remValues: #{$remValues + $value/$baseFontSize}rem;

        @if $i < $max {
            $remValues: #{$remValues + " "};
        }
    }

    #{$property}: $pxValues;
    #{$property}: $remValues;
}



// +++++++++++++++++++++++++++++++++++++++++++++++++++++++
// RGBA
//
// Takes a color and a alpha percentage and returns a "closest match" to browsers
// that doesn't support rgba, as well as a rgba proerty for supported browsers.
//
// ARGUMENTS
// $color: can be any color - hex, hsl or rgb
// $percentage: should be a value between 0 and 1 (0-100)
//
// DEPENDENCIES
// @function rgbalpha()
//
// EXAMPLE
// @include color(nth($c-blacks, 3), .8):
//
// color: #363636;
// color: rgb(51, 51, 51, .8)
//
// AUTHOR HPE
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin rgba($color, $percentage) {
    color: rgbalpha($color, $percentage);
    color: rgba($color, $percentage);
}



// +++++++++++++++++++++++++++++++++++++++++++++++++++++++
// SHADOW
//
// Takes a depth of field and reuturns a shadow, which's size is based on that DOF.
//
// ARGUMENTS
// $depth: an integer from 1 to 5
//
// AUTHOR HPE
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++

@mixin shadow($depth) {
    $top: (
        0 1px 2px rgba(0,0,0,.12),
        0 3px 3px rgba(0,0,0,.16),
        0 10px 10px rgba(0,0,0,.19),
        0 14px 14px rgba(0,0,0,.25),
        0 19px 19px rgba(0,0,0,.3)
    );
    $bottom: (
        0 1px 5px rgba(0,0,0,.24),
        0 3px 3px rgba(0,0,0,.24),
        0 6px 5px rgba(0,0,0,.24),
        0 10px 5px rgba(0,0,0,.24),
        0 15px 6px rgba(0,0,0,.24),
    );

    box-shadow: nth($top, 1), nth($bottom, 1);
}



// Sizing stuff
@mixin size($width, $height: $width) {
      width: $width;
      height: $height;
}


// Positioning stuff
@mixin position($position, $args) {
    @each $o in top right bottom left {
        $i: index($args, $o);

        @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number  {
            #{$o}: nth($args, $i + 1);
        }
    }

    position: $position;
}



// Absolutely positioning stuff
@mixin absolute($args) {
        @include position(absolute, $args);
}




@mixin triangle($direction, $position, $color, $size: 1em) {
    @include absolute($position);
    @include size(0);
    content: '';
    z-index: 2;

    border-#{opposite-position($direction)}: $size solid $color;

    $perpendicular-border: $size solid transparent;

    @if $direction == top or $direction == bottom {
        border-left:   $perpendicular-border;
        border-right:  $perpendicular-border;
        margin-left: -#{$size};
    } @else if $direction == right or $direction == left {
        border-bottom: $perpendicular-border;
        border-top:    $perpendicular-border;
        margin-top: -#{$size};
    }
}
