@import "../../../stylesheets/settings/colors";
@import "../../../stylesheets/tools/functions";


.TimeLine-container {
    width: 100%;
    white-space: nowrap;
    position: relative;
    vertical-align: middle;
}

    .TimeLine-listContainer {
        overflow-x: hidden;
        margin: 0 40px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 60px;
            border-bottom: 2px solid c($c-white, 600);
            width: 100%;
        }
    }

    .TimeLine-itemlist {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 2px 0;
        position: relative;

        &:before {
            border-bottom: 2px solid c($c-white, 600);
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 60px;
            width: 100%;
        }

        li {
            display: inline-block;
            padding: 0 17px;
            position: relative;
            transition: all 200ms ease-out;

            .icons {
                display: block;
                text-align: center;
                height: 60px;
            }

            .amount {
                display: block;
                color: c($c-white, 200);
                font-size: 14px;
                font-weight: 600;
            }

            .date {
                display: block;
                font-size: 18px;
                padding: 20px 0;
                position: relative;
                text-align: center;

                .pipe {
                    position: absolute;
                    border-left: 2px solid c($c-white, 600);
                    height: 15px;
                    left: 50%;
                    top: 0;
                }
            }

            &.is-hidden {
                opacity: 0;
                padding: 0;
                transform: scale(.1);
                transition: all 200ms ease-out;

                .date {
                    time {
                        font-size: 0;
                    }
                }
            }
        }

    }

    .TimeLine-badge {
        display: inline-block;
        border-radius: 50%;
        margin: 0 3px;
        height: 50px;
        width: 50px;
        transition: width 300ms ease-out, transform 50ms linear;

        &:hover {
            transform: translateY(-2px);
        }

        .is-hidden & {
            width: 0;
        }

        .TimeLine-icon {
            margin-top: 3px;
            margin-bottom: -7px;
            width: 26px;

            &:last-of-type {
                margin-right: 0;
            }
        }

        &.icon-invitation {
            background-color: c($c-green, 500);
        }

        &.icon-reminder {
            background-color: c($c-orange, 'main');
        }

        &.icon-event {
            background-color: c($c-black, 400);
        }

        &.icon-followup {
            background-color: c($c-blue, 'main');
        }
    }



    .TimeLine-arrow {
        $size: 40;

        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;

        background-repeat: no-repeat;
        display: none;
        width: #{$size}px;
        height: #{$size}px;
        position: absolute;

        top: #{60 - $size / 2 }px;

        &.left {
            background-image: url("../../../modules/timeline/images/left.svg");
            background-position: right;
            left: 0;
        }

        &.right {
            background-image: url("../../../modules/timeline/images/right.svg");
            background-position: left;
            right: 0;
        }

        &.is-visible {
            display: block;
        }

        &:hover {
            cursor: pointer;
            opacity: .8;
        }

        &:active {
            opacity: .3;
        }
    }

    .TimeLine-legend {

        display: inline-block;
        margin-top: 20px;
        padding: 0 20px;

        span {
            display: inline-block;
            padding: 6px;
            margin-right: 5px;
            border-radius: 50%;

            &.invitation {
                background-color: c($c-green, 500);
            }

            &.reminder {
                background-color: c($c-orange, 'main');
            }

            &.event {
                background-color: c($c-black, 400);
            }

            &.followup {
                background-color: c($c-blue, 'main');
            }
        }
    }

    .is-disabled {
        opacity: 0.3;
    }
