@import "../../../stylesheets/settings/colors";
@import "../../../stylesheets/tools/functions";
@import "../../../stylesheets/tools/mixins";


.tooltip {
    background: c($c-white, 100);
    border-radius: 3px;
    color: c($c-black, main);
    font-size: .9em;
    left: 0;
    opacity: 0;
    padding: 14px;
    position: absolute;
    text-align: left;
    top: 0;
    transition: opacity 100ms ease-out;
    max-width: 200px;

    @include shadow(1);

    &.is-visible {
        opacity: 1;
    }


    // :before and :after are used to create the arrow on the tooltip
    &:before {
        @include triangle(
            $direction: bottom,
            $position: top 100% left 50%,
            $color: c($c-white, 600),
            $size: 10px
        );
    }

    &:after {
        @include triangle(
            $direction: bottom,
            $position: top 100% left 50%,
            $color: c($c-white, 100),
            $size: 8px
        );
    }
}