<meta charset="utf-8">
<html>

<head>
	<link rel="stylesheet" href="/bower_components/angular-ui/build/angular-ui.css" />

	<link rel="stylesheet" href="/examples/formbuilder/stylesheets/formbuilder.css" />

	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/jquery-ui/jquery-ui.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-ui/build/angular-ui.js"></script>

	<!--

	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
	<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

	-->

    <script type="text/javascript" src="formbuilder.js"></script>
	<script type="text/javascript" src="dragdrop.js"></script>
</head>

<body ng-app="FormmoduleApp">

	<!--

	<br>
	<div class="row">
		<div class="col-md-1" ng-controller="TypeController as type">
			<ul class="col-md-offset-1 list-unstyled" ng-model="type.types">
				<li ng-repeat="myType in type.types">{{ myType.name }}</li>
			</ul>
		</div>

		<div class="col-md-4" ng-controller="FormController as form">
			<h2>{{ form.title }}</h2>
			<form role="form">
				<ul ui-sortable class="list-unstyled" ng-model="form.items">
					<div class="form-group form-item" ng-repeat="item in form.items">
						<label>{{ item.name }}</label>
						<input type="{{item.type}}" ng-class="{'form-control': item.type == 'text'}">
					</div>
					<div class="form-group">
						<input class="btn" type="button" value="Skicka">
					</div>
				</ul>
			</form>
		</div>
	</div>

	-->

	<div class='row' ng-controller='DemoDragDropCtrl'>
		<div class='col-sm-6'>
			<h4>draggable</h4>
			<ul class='unstyled-list'>
				<li
				class="ui-state-highlight"
				ng-repeat='object in objects'
				draggable="object"
				draggable-target='.sortable'>
				{{ object.name }}
			</li>
		</ul>

		<h4>sortable</h4>
		<ul
		droppable='items.list1'
		ng-move='moveObject(from, to, fromList, toList)'
		ng-create='createObject(object, to, list)'
		id="list1" class="sortable">
		<li
		class="ui-state-default"
		ng-repeat="item in items.list1 track by item.id">
		{{ $index }}: {{ item.id }} - {{ item.name }}
		<button
		ng-click='deleteItem(item.id)'
		class='btn btn-xs pull-right btn-danger'>X</button>
	</li>
</ul>

</div>
</div>

</body>

<script type="text/javascript" src="js/controllers/dragdrop.controller.js"></script>

	<!--

	<script type="text/javascript" src="js/controllers/form.controller.js"></script>
	<script type="text/javascript" src="js/controllers/type.controller.js"></script>

	-->

</html>