<h2>Report Overview</h2>
<div class="row">
    <div class="col-md-12">
        <div class="report-statistic-box">
            <div class="box-header"><span class="icon-sent"></span> Sent Emails</div>
            <div class="box-content">
                <div class="sentTotal">{{sentTotal}}</div>
             </div>
            <div class="box-foot">
                <div class="sendTime box-foot-left">Send time<br><span class="box-foot-stats"><strong>{{date}}</strong></span></div>
            </div>
        </div>

        <div class="report-statistic-box">
            <div class="box-header"><span class="icon-delivery"></span> Delivery rate</div>
            <div class="box-content delivery-rate">
                <div class="percentage">90%</div>
            </div>
            <div class="box-foot">
                <span class="arrow arrow-up"></span>
                <div class="box-foot-left">Delivered<br><span class="box-foot-stats"><strong>{{delivered}}</strong> (90%)</span></div>
                <span class="arrow arrow-down"></span>
                <div class="box-foot-right">Bounced<br><span class="box-foot-stats"><strong>120</strong> (10%)</span></div>
            </div>
        </div>

        <div class="report-statistic-box">
            <div class="box-header"><span class="icon-openrate"></span> Open rate (OR)</div>
            <div class="box-content open-rate">
                <div class="percentage">75%</div>
            </div>
            <div class="box-foot">
                <span class="arrow arrow-up"></span>
                <div class="box-foot-left">Opened<br><span class="box-foot-stats"><strong>{{opened}}</strong> (75%)</span></div>
                <span class="arrow arrow-down"></span>
                <div class="box-foot-right">Unopened<br><span class="box-foot-stats"><strong>120</strong> (25%)</span></div>
            </div>
        </div>

        <div class="report-statistic-box">
            <div class="box-header"><span class="icon-ctor"></sp90an> Click-to-open rate (CTOR)</div>
                <div class="box-content click-to-open">
                    <div class="percentage">50%</div>
                </div>
            <div class="box-foot">
                <span class="arrow arrow-up"></span>
                <div class="box-foot-left">Clicked<br><span class="box-foot-stats"><strong>{{clicked}}</strong> (50%)</span></div>
                <div class="box-foot-right">Non-clicked<br><span class="box-foot-stats"><strong>120</strong> (50%)</span></div>
            </div>
        </div>
    </div>
</div>